body {
    background-color: pink;
    margin: 0 auto;
    text-align: center;

}

.btn {
    background-color: grey;
    color: white;
}

.btn:hover {
    background-color: white;
    color: grey;  
}

p {
    height: 20px;
}

input {
    border: 3px solid grey;

}

.red {
    color: red;
}

.black {
    color: black;
}

.neon {
    color: greenyellow;
}