body {
    text-align: center;

}
main{
    width: 70%;
    margin: 0 auto;

}

.btn {
    background-color: grey;
    color: white;
    width: 10%;
    height: 10%;

}

.btn:hover {
    background-color: white;
    color: grey;  
}

p {
    height: 20%;
    font-weight: bold;
}

input {
    border: 3px solid grey;
    text-align: center;
    width: 40%;
}

p, .btn, input {
    font-size: 70px;
    border-radius: 10px;
}

.red {
    color: red;
}

.black {
    color: black;
}
